{
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-spacing": "error",
    "eqeqeq": "error",
    "no-console": "warn",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-return-await": "error",
    "no-self-assign": "error",
    "no-var": "error"
  }
}
