$pokemon-colors: (
  fairy: #f85888,
  fire: #fb6c6c,
  fighting: #fc5849,
  dragon: #f5a018,
  electric: #f6c747,
  normal: #a8a878,
  grass: #78c850,
  bug: #48d0b0,
  ice: #7ac7ff,
  water: #429bed,
  flying: #9c9cfd,
  ghost: #7038f8,
  poison: #9f5bba,
  psychic: #7c538c,
  ground: #795548,
  rock: #b1736c,
  steel: #bababa,
  dark: #303943,
);
