@use 'colors' as *;
@use 'components';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @each $name, $value in $pokemon-colors {
    #{'--pokemon-' + $name}: $value;
  }
}

@layer base {
  body {
    @apply font-exo bg-neutral-800;
  }
}

@layer components {
  .image {
    @apply select-none overflow-hidden relative inline-block;

    > span {
      all: unset !important;
      @apply flex w-full items-center #{!important};

      > img {
        all: unset !important;
        @apply w-full #{!important};
      }
    }
  }
}

@layer utilities {
  @each $name in map-keys($pokemon-colors) {
    [data-color='#{$name}'] {
      background-color: var(#{'--pokemon-' + $name});
    }
  }
}
